<div class="container">
  <h1 id="welcomeText" class="center-align">Bem-vindo</h1>
  <img src="<%= asset_path('fuca.jpg') %>" alt="Imagem do Veículo" class="img-fluid" style="width: 70%; height: 70vh; object-fit: cover;">

  <table class="highlight responsive-table striped">
  </table>
</div>
