<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card orange lighten-2">
        <div class="card-content white-text">
          <span class="card-title">Bem-vindo ao Nosso Site!</span>
          <p>Aqui você encontra tudo o que precisa.</p>
        </div>
      </div>
    </div>
  </div>
</div>
