<!-- app/views/parking_spots/new.html.erb -->

<h1>Nova Vaga de Estacionamento</h1>

<%= render 'form', parking_spot: @new_for_spot %>

<%= link_to 'Voltar', parking_spots_path, class: 'btn btn-secondary' %>
